
{% extends "control_code/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Lista de profesores</h1>
    <br>
    <form method="GET" action="{% url 'buscar_profesor' %}">
      <input type="text" name="busqueda" placeholder="Buscar profesor" value="{{ busqueda }}">
      <input type="submit" value="Buscar">
    </form>
    </br>

    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th></th>
          <th></th>
        </tr>
        {% for profesor in object_list %}
        <tr>
          <td>{{ profesor.id }}</td>
          <td>{{ profesor.nombre }}</td>
          <td>{{ profesor.apellido }}</td>
          <td>
            <a href="{% url 'ver_profesores' profesor.id %}">Ver</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}
